<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="ptApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A Periodic Table of the Elements</title>
    <meta name="description" content="Periodic Table of the elements, chemistry, science">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="_/css/flaticon.css">
    <link rel="stylesheet" type="text/css" href="_/css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--favicon-->

</head>

<body ng-controller="DataObjectController" ng-cloak>
  
  <div class="legend" ng-controller="LegendController as lgdCtrl">
       <section class="off-canvas-legend-wrapper">
           <!-- Off Canvas Menu -->
        <aside class="off-canvas-legend-content">
            <!-- whatever you want goes here -->
            <div class="off-canvas-legend-item"><img src="images/one42.svg" alt="single tap" /> <span class="legend-text">=</span><img src="images/34.svg" alt="element" /></div>
            <div class="off-canvas-legend-item">
                <p class="legend-desc symbol-desc">Symbol</p>
                 <p class="legend-desc name-desc">Name</p>
                 <p class="legend-desc weight-desc">Weight</p>
                 <p class="legend-desc number-desc">Number</p>
                 <p class="legend-desc electron-desc">Electrons</p>
                 <div class="legend-pt-box">
               <div class="symbol-label-wrapper">
                   <p class="legend-symbol">He</p>
               </div>
                <div class="name-label-wrapper">
                    <p class="legend-name">Helium</p>
                    <p class="legend-weight">4.002602</p>
                </div>
                <div class="number-label-wrapper">
                    <p class="legend-number">2</p>
                </div>
                <div class="electron-label-wrapper">
                    <p class="legend-electron">2</p><!--ng repeat this-->
                </div>
            </div>
            </div>
            <div class="off-canvas-legend-item"><img src="images/one62.svg" alt="double tap" /><span class="legend-text">=</span><img class="wiki" src="images/Wikipedia_logo.svg" alt="wikipedia" /></div>
           </aside>
       </section>
       <nav>
           <button class="btn icon-btn" ng-click="legendOpenClose()"><span class="show-for-sr">Help</span><i class="fa fa-question"></i></button>
           <button class="btn icon-btn" ng-click="switchView('/chart')"><span class="show-for-sr">Periodic Table view</span><i class="fa fa-th"></i></button>
           <button class="btn icon-btn" ng-click="switchView('/list')"><span class="show-for-sr">Elements List view</span><i class="fa fa-list"></i></button>
       </nav>
   </div>
   
    <header>
        <h1 class="title">A Periodic Table of the Elements {{currentElement.symbol}}</h1>
        
    </header>
    


    <!-- Reveal Modals begin -->
    <div id="warningModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
        <h2 id="warningModalTitle">A Periodic Table of the Elements needs a larger screen!</h2>
        <p>To get the best use of this app, you should be in pandscape mode on a device greater than or equal to 768 pixels in width. What's your device? <a href="http://www.mydevice.io" target="_blank">Check it here</a>.</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <div id="partials" ng-view>
        
    </div>
   
    
    <footer>
    <section class="contact">
        <ul class="contact-list">
            <li class="contact-list-item email-item"><span class="show-for-sr">Email</span></li>
            <li class="contact-list-item facebook-item"><span class="show-for-sr">Facebook</span></li>
            <li class="contact-list-item twitter-item"><span class="show-for-sr">Twitter</span></li>
            <li class="contact-list-item linkedin-item"><span class="show-for-sr">LinkedIn</span></li>
            <li class="contact-list-item gplus-item"><span class="show-for-sr">Google Plus</span></li>
        </ul>
    </section>
    <section class="copyright"><p>&copy; 2015 Clever Interweb Stuffs</p></section>
    </footer>
    
    <!--icon credit
    <div>Icons made by <a href="http://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/fastclick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.offcanvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.reveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation/foundation.tooltip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-touch.min.js"></script>
     <script src="_/components/js/app.js"></script>
     <script src="_/components/js/controllers/docontroller.js"></script> 
     <script src="_/components/js/controllers/eventcontoller.js"></script>
     <script src="_/components/js/controllers/legendcontroller.js"></script>
</body>

<script>
    $(document).foundation();
    $(function() {FastClick.attach(document.body);});
</script>

</html>