.flexcontainer
{
   max-width:768px;
    position:relative;
     @media (min-width:1028px)
      {
        max-width:1028px;
      }
@media (min-width:1290px)
      {
        max-width:1290px;
      }
    
@media (min-width:1600px)
      {
        max-width:1600px;
      }
}

.box, .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11
{
    @include flex(1 0);
    @include background($white);
    min-width: 36px; //all boxes should have these min/maxes
    max-width:45px;
    min-height: 65px;
    @media (min-width:1028px)
      {
        min-width: 52px; //all boxes should have these min/maxes
        max-width:57px;
        min-height: 75px;
      }
@media (min-width:1290px)
      {
        min-width: 65px; //all boxes should have these min/maxes
        max-width:70px;
        min-height: 80px;
      }
    
@media (min-width:1600px)
      {
        min-width: 77px; //all boxes should have these min/maxes
        max-width:87px;
        min-height: 92px;
      }
    
    margin:1px;
    
    cursor:pointer;
    
    @include opacity(.85);
    @include transition(all .35s ease-in-out);
    
	 @include transform(perspective(1000px) translate3d(0,0,0));
    &:hover
    {
        @include opacity(1);      
        @include transform(perspective(1000px) translate3d(0,0,21px));
        box-shadow: 0 3px 15px rgba(0,0,0,0.4);
    }
}

/*non-metails*/
.box
{
    @include content-box-rounded($box-width, $box-height, $dkgreenyellow, darken($dkgreenyellow,10), $box-radius);
}
/*noble gasses*/
.box1
{
   @include content-box-rounded($box-width, $box-height, $ltblue, darken($ltblue,10), $box-radius);
}
/*alkali metails*/
.box2
{
    @include content-box-rounded($box-width, $box-height, $dkred, darken($dkred,10), $box-radius);
}
/*alkal-earth*/
.box3
{
    @include content-box-rounded($box-width, $box-height, $dkbrownred, darken($dkbrownred,10), $box-radius);
}
/*basic-metails*/
.box4
{
    @include content-box-rounded($box-width, $box-height, $dkpurple, darken($dkpurple,10), $box-radius);
}
/*semi-metails*/
.box5
{
    @include content-box-rounded($box-width, $box-height, $ltpurple, darken($ltpurple,10), $box-radius);
}
/*halogen*/
.box6
{
    @include content-box-rounded($box-width, $box-height, $dkgreen, darken($dkgreen, 10), $box-radius);
}
/*transition-metails*/
.box7
{
    @include content-box-rounded($box-width, $box-height, $ltyellow, darken($ltyellow, 10) ,$box-radius);
}
/*lanthanide*/
.box8
{
 @include content-box-rounded($box-width, $box-height, $ltred, darken($ltred, 10), $box-radius);   
}
/*actinide*/
.box9
{
    @include content-box-rounded($box-width, $box-height, $dkpink, darken($dkpink, 10), $box-radius);
}
/*metaliods*/
.box10
{
    @include content-box-rounded($box-width, $box-height, $ltgreen, darken($ltgreen, 10), $box-radius); 
}
/*lan-act-spacers*/
.box11
{
    @include content-box-rounded($box-width, $box-height, $ltpink, darken($ltpink, 10), $box-radius);
}
