.off-canvas-legend-wrapper {
    background-color: $dkgrey;
    border-bottom: 2px solid lighten($black, 10%);
    overflow: hidden;
    position: relative;
    height: 0em;
    width: 100%;
    @include transition(all .35s ease-in-out);
    //top: -200px;
    .off-canvas-legend-content {
        border-bottom: 2px solid $black;
        height: 100%;
        @include clearfix;
        .off-canvas-legend-item {
            @include nested(3) {
                @include span(1 of 3);
            }
            position:relative;
            color:$mdgrey;
            text-align:center;
            margin:0 auto;
            height:100%;
            border-right:1px solid $black;
            border-left:1px solid lighten($black,
            10%);
            padding: $margin-sm-px 0;
            padding: $margin-sm-rem 0;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
            img {
                width: 60px;
                @media (min-width: $screen-sm) {
                    width: 80px;
                }
            } //img
            img.wiki {
                width: 90px;
                padding-left: 9px;
                @media (min-width: $screen-sm) {
                    width: 100px;
                }
            }
        } //legend-item
    }
} //legend-content
.off-canvas-legend-wrapper.active {
    height: 10em;
    @include transition(all .35s ease-in-out);
}

header {
    margin:$margin-sm-px;
    margin: $margin-sm-rem;
    @media (min-width: $screen-md) {
        margin: $margin-sm-px $margin-lg-px;
        margin: $margin-sm-rem $margin-lg-rem;
    }
    .title {
        font-size: 30px;
        font-size: 3rem;
        text-align: center;
    }
    .logo {
        height: 45px;
        width: 45px;
        position: absolute;
        top: -12px;
        left: 10%;
        @media (min-width: $screen-sm) {
            left: 15%;
        }
        @media (min-width: $screen-md) {
            left: 20%;
            height: 55px;
            width: 55px;
        }
        @media (min-width: $screen-lg) {
            left: 25%;
        }
        @media (min-width: $screen-xl) {
            left: 30%;
        }
    } //logo
}

.pt-wrapper {
    position: relative;
    display: block;
    margin: $margin-lg-px $margin-sm-px;
    margin: $margin-lg-rem $margin-sm-rem;
    @media (min-width: 1028px) {
        margin: $margin-lg-px $margin-lg-px;
        margin: $margin-lg-rem $margin-lg-rem;
    }
    .pt-content {
        h4 {
            display: block;
            position: absolute;
            font-weight: $font-bold;
        }
        .row-label {
            left: -17px;
            @media (min-width: 1028px) {
                left: -22px;
            }
        }
        .col-label-wrapper {
            position: absolute;
            top: -44px;
        }
        .col-label {
            position: relative;
            font-size: 9px;
            font-size: .9rem;
            padding: 3px 3px 3px 17px;
            line-height: .3;
        }
        @include container();
        @media (min-width: $screen-sm) {
            @include container($screen-sm);
        }
        @media (min-width: $screen-md) {
            @include container($screen-md);
        }
        @media (min-width: $screen-lg) {
            @include container($screen-lg);
        }
        @media (min-width: $screen-xl) {
            @include container($screen-xl);
        }
    } //pt-content
} //pt-wrapper
.focus {
    position: relative;
    @include clearfix;
    .focus-wrapper {
        position: absolute;
        top: 5%;
        left: 17%;
        z-index: 32;
        .focus-symbol-label-wrapper {
            text-align: center;
            padding-top: 30%;
            font-size: 20px;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1;
            @media (min-width: $screen-md) {
                font-size: 27px;
                font-size: 2.7rem;
            }
            @media (min-width: $screen-lg) {
                font-size: 29px;
                font-size: 2.9rem;
            }
            .focus-symbol {
                font-size: 20px;
                font-size: 2rem;
                font-weight: inherit;
                @media (min-width: $screen-md) {
                    font-size: inherit;
                }
                @media (min-width: $screen-lg) {
                    font-size: inherit;
                }
            } //focus-symbol
        } //focus-symbol-label-wrapper
        .focus-name-label-wrapper {
            margin: 0 auto;
            text-align: center;
            .focus-name, .focus-weight {
                line-height: .8;
            }
            .focus-name {
                font-style: italic;
                font-size: 13px;
                font-size: 1.3rem;
                margin-bottom: 12px;
                margin-bottom: 1.2rem;
                @media (min-width: $screen-lg) {
                    font-size: 15px;
                    font-size: 1.5rem;
                }
            }
            .focus-weight {
                font-size: 8px;
                font-size: .8rem;
                @media (min-width: $screen-lg) {
                    font-size: 11px;
                    font-size: 1.1rem;
                }
            }
        } //name label wrapper
        .focus-number-label-wrapper {
            position: absolute;
            top: 2%;
            left: 2%;
            @media (min-width: $screen-lg) {
                top: 6%;
                left: 6%;
            }
            .focus-number {
                line-height: .8;
                font-size: 13px;
                font-size: 1.3rem;
                @media (min-width: $screen-lg) {
                    font-size: 18px;
                    font-size: 1.8rem;
                }
            }
        } //number label wrapper
        .focus-electrons-label-wrapper {
            .focus-electrons {
                display: inline-block;
                width: 10px;
                font-size: 7px;
                font-size: .7rem;
                position: absolute;
                top: 2px;
                right: 0;
                margin-bottom: 0;
                line-height: 1;
                @media (min-width: $screen-lg) {
                    font-size: 10px;
                    font-size: 1rem;
                    top: 6px;
                    right: 2px;
                }
            }
        } //electron-label-wrapper
        .focus-group-label-wrapper {
            position: absolute;
            top: 2px;
            right: -160px;
            @media (min-width: $screen-lg) {
                right: -190px;
            }
            .focus-group {
                font-size: 20px;
                font-size: 2rem;
                @media (min-width: $screen-lg) {
                    font-size: 24px;
                    font-size: 2.4rem;
                }
            } //focus-group
        } //focus group label wrapper
    } //focus-wrapper
} //focus
.list-table-wrapper {
    margin: $margin-lg-px 0 $margin-lg-px $margin-sm-px;
    margin: $margin-lg-rem 0 $margin-lg-rem $margin-sm-rem;
    @media (min-width: 1028px) {
        margin: $margin-lg-px 0 $margin-lg-px $margin-lg-px;
        margin: $margin-lg-rem 0 $margin-lg-rem $margin-lg-rem;
    }
    @include container();
    @media (min-width: $screen-sm) {
        @include container($screen-sm);
        margin-right: 0;
    }
    @media (min-width: $screen-md) {
        @include container($screen-md);
        margin-right: 0;
    }
    @media (min-width: $screen-lg) {
        @include container($screen-lg);
        margin-right: 0;
    }
    @media (min-width: $screen-xl) {
        @include container($screen-xl);
        margin-right: 0;
    }
    .list-table {
        @include inner-table-borders(1px, $ltgrey);
        @include outer-table-borders(2px, $dkgrey);
        border-radius: $box-radius;
        width: 80%;
        .list-table-header {
            font-size: 26px;
            font-size: 2.6rem;
            line-height: 1;
        }
        .list-table-content {
            font-size: 16px;
            font-size: 1.6rem;
            padding: 12px 6.25px; //same as default
            padding: 1.2rem 0.625rem;
        }
    } //list-table
} //list-table-wrapper
.contact {
    @include clearfix;
    margin: 0 auto;
    .contact-list {
        width: 258px;
        margin: 0 auto;
        .contact-list-item {
            margin-right: 12px;
            float: right;
            width: 42px;
            height: 42px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        }
        .email-item {
            @include background(url(../../images/pencil42_lt.svg));
            &:hover {
                @include background(url(../../images/pencil42_dk.svg));
            }
        }
        .facebook-item {
            @include background(url(../../images/facebook29_lt.svg));
            &:hover {
                @include background(url(../../images/facebook29_dk.svg));
            }
        }
        .twitter-item {
            @include background(url(../../images/twitter21_lt.svg));
            &:hover {
                @include background(url(../../images/twitter21_dk.svg));
            }
        }
        .linkedin-item {
            @include background(url(../../images/linkedin12_lt.svg));
            &:hover {
                @include background(url(../../images/linkedin12_dk.svg));
            }
        }
        .gplus-item {
            @include background(url(../../images/google29_lt.svg));
            &:hover {
                @include background(url(../../images/google29_dk.svg));
            }
        }
    }
    @include container();
    @media (min-width: $screen-sm) {
        @include container($screen-sm left);
    }
    @media (min-width: $screen-md) {
        @include container($screen-md center);
    }
    @media (min-width: $screen-lg) {
        @include container($screen-lg center);
    }
    @media (min-width: $screen-xl) {
        @include container($screen-xl center);
    }
} //contact
.copyright {
    margin-top: 8px;
    @include container();
    @media (min-width: $screen-sm) {
        @include container($screen-sm left);
    }
    @media (min-width: $screen-md) {
        @include container($screen-md center);
    }
    @media (min-width: $screen-lg) {
        @include container($screen-lg center);
    }
    @media (min-width: $screen-xl) {
        @include container($screen-xl center);
    }
    p {
        text-align: center;
        font-size: 11px;
        line-height: 1.444;
    }
} //copyright
/**
hover effect remove
**/

figure.effect-steve {
    z-index: auto;
    overflow: visible;
    background: #000;
}

figure.effect-steve:before,
figure.effect-steve h2:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #000;
    content: '';
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-steve:before {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8);
    opacity: 0;
}

figure.effect-steve figcaption {
    z-index: 1;
}

figure.effect-steve img {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
    transform: perspective(1000px) translate3d(0, 0, 0);
}

figure.effect-steve h2,
figure.effect-steve p {
    background: #fff;
    color: #2d434e;
}

figure.effect-steve h2 {
    position: relative;
    margin-top: 2em;
    padding: 0.25em;
}

figure.effect-steve h2:before {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

figure.effect-steve p {
    margin-top: 1em;
    padding: 0.5em;
    font-weight: 800;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}

figure.effect-steve:hover:before {
    opacity: 1;
}

figure.effect-steve:hover img {
    -webkit-transform: perspective(1000px) translate3d(0, 0, 21px);
    transform: perspective(1000px) translate3d(0, 0, 21px);
}

figure.effect-steve:hover h2:before {
    opacity: 0;
}

figure.effect-steve:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}