header
{
    margin:$margin-lg-px $margin-sm-px;
    margin:$margin-lg-rem $margin-sm-rem;
    @media (min-width:$screen-md)
      {
        margin:$margin-lg-px $margin-lg-px;
        margin:$margin-lg-rem $margin-lg-rem;
      }
    .title
    {
        font-size:30px;
        font-size: 3rem;
        text-align: center;
    }

     .logo
    {
        height:45px;
        width:45px;
        position:absolute;
        top: -12px;
        left: 10%;
         @media (min-width:$screen-sm)
          {
             left: 15%;
          }
         @media (min-width:$screen-md)
          {
             left: 20%;
              height:55px;
              width:55px;
          }
        @media (min-width:$screen-lg
       )
          {
             left: 25%;
          }
        @media (min-width:$screen-xl)
          {
             left: 30%;
          }
    }//logo
}

.legend
{

}

.pt-wrapper
{
    position:relative;
     display:block;
    margin:$margin-lg-px $margin-sm-px;
    margin:$margin-lg-rem $margin-sm-rem;
    @media (min-width:1028px)
      {
        margin:$margin-lg-px $margin-lg-px;
        margin:$margin-lg-rem $margin-lg-rem;
      }
    .pt-content
    {
        h4
        {
            display: block;
            position: absolute;
            font-weight: $font-bold;
        }

        .row-label
        {
            left: -17px;
            @media (min-width:1028px)
          {
            left: -22px;
          }
        }

        .col-label-wrapper
        {
            position: absolute;
            top: -44px;
        }

        .col-label
        {
            position:relative;
            font-size: 9px;
            font-size: .9rem;
            padding: 3px 3px 3px 17px;
             line-height: .3;
        }
        
        .name-label-wrapper
        {
            margin: 0 auto;
            text-align: center;
            .name, .weight
            {
                line-height: .8;
            }
            .name
            {
                font-style: italic;
                font-size: 8px;
                font-size: .8rem;
            }
            .weight
            {
                font-size: 8px;
                font-size: .8rem;
            }
        }//name label wrapper
        
        .number-label-wrapper
        {
            position:absolute;
            top:0;
            left:0;
            .number
            {
                 line-height: .8;
            }
        }//number lable wrapper
     @include container();   
    @media (min-width:$screen-sm)
      {
        @include container($screen-sm);
      }
     @media (min-width:$screen-md)
      {
          @include container($screen-md);
      }
    @media (min-width:$screen-lg)
      {
          @include container($screen-lg);
      }
        @media (min-width:$screen-xl)
      {
          @include container($screen-xl);
      }
    }//pt-content
}//pt-wrapper

.flexcontainer
{
    display:block;
    margin:$margin-lg-px $margin-sm-px;
    margin:$margin-lg-rem $margin-sm-rem;
    @media (min-width:1028px)
      {
        margin:$margin-lg-px $margin-lg-px;
        margin:$margin-lg-rem $margin-lg-rem;
      }
}

.flexcol, .flexrow
{
    position: relative;
}

.flexcol
{
    @include flex(1 0);
    @include flexbox((
    display: box,
    box-orient: vertical,
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-direction: column
  ), $version: 2);
  @include flexbox((
    display: flex,
    flex-direction: column
  ));
    @include flex-wrap(nowrap);
}

.flexrow
{
    @include flex(1 0);
    @include flexbox((
    display: box,
    box-orient: horizontal,
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-direction: row
  ), $version: 2);
  @include flexbox((
    display: flex,
    flex-direction: row
  ));
    @include flex-wrap(nowrap);
    
    h4
    {
        display: block;
        position: absolute;
        top: 40%;
        font-weight: $font-bold;
    }
    
    .row-label
    {
        left: -17px;
        @media (min-width:1028px)
      {
        left: -22px;
      }
    }
    
    .col-label-wrapper
    {
        position: absolute;
        top: -44px;
    }
    
    .col-label
    {
        position:relative;
        font-size: 9px;
        font-size: .9rem;
        padding: 3px 3px 3px 17px;
         line-height: .3;
    }
}

.box-wrapper-start
{
     @include flex(1 0);
    @include flexbox((
    display: box,
    box-orient: horizontal,
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-direction: row
  ), $version: 2);
  @include flexbox((
    display: flex,
    flex-direction: row
  ));
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
}

.box-wrapper-end
{
     @include flex(1 0);
    @include flexbox((
    display: box,
    box-orient: horizontal,
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-direction: row
  ), $version: 2);
  @include flexbox((
    display: flex,
    flex-direction: row
  ));
    @include flex-wrap(nowrap);
    @include justify-content(flex-end);
}

.focus
{
    position:relative;
    .focus-wrapper
    {
        position:absolute;
        top:5%;
        left:17%;
        z-index:32;
    }
}


/**
hover effect remove
**/

figure.effect-steve {
	z-index: auto;
	overflow: visible;
	background: #000;
}

figure.effect-steve:before,
figure.effect-steve h2:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-steve:before {
	box-shadow: 0 3px 30px rgba(0,0,0,0.8);
	opacity: 0;
}

figure.effect-steve figcaption {
	z-index: 1;
}

figure.effect-steve img {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
}

figure.effect-steve h2,
figure.effect-steve p {
	background: #fff;
	color: #2d434e;
}

figure.effect-steve h2 {
	position: relative;
	margin-top: 2em;
	padding: 0.25em;
}

figure.effect-steve h2:before {
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve p {
	margin-top: 1em;
	padding: 0.5em;
	font-weight: 800;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

figure.effect-steve:hover:before {
	opacity: 1;
}

figure.effect-steve:hover img {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
}

figure.effect-steve:hover h2:before {
	opacity: 0;
}

figure.effect-steve:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}