//---------------SUSY--------------------------
$susy:(
    columns:18,
    gutters:0,
    container: 768px,
    gutter-position: split,
    global-box-sizing:border-box,
    debug: (image:show)
    );

//---------------COLORS----------------------
$ltgrey:#d3d3d3;
$mdgrey:#adadad;
$dkgrey:#6d6d6d;
$white:#ededed;
$black:#101010;
$ltblue:#71abe1;
$dkblue:#1e2d3c;
$ltpink:#FFB7B3;
$dkpink:#E5EAA4;
$ltgreen:#09B239;
$dkgreen:#0A3316;
$ltred:#FF1919;
$dkred:#7F0D0D;
$ltyellow:#FFFD61;
$dkyellow:#FFFC33;
$ltpurple:#9E4CFF;
$dkpurple:#340A66;
$ltorange:#FF812E;
$dkorange:#FF6600;
$ltbluepurple:#4B7194;
$dkbluepurple:#243748;
$ltgreenyellow:#65947C;
$dkgreenyellow:#4B946F;
$ltbrownred:#943E34;
$dkbrownred:#A6726C;

//---------------TYPO--------------------------
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic|Roboto+Slab:400,700);
$font-normal:400;
$font-bold:700;
$font-italic:400italic;

//--------------MARGINS/PADDING-------
$margin-sm-px:24px;
$margin-sm-rem:2.4rem;//24 ÷ 10 = 2.4rem
$margin-lg-px:48px;
$margin-lg-rem:4.8rem;//48÷ 10 = 2.4rem

//--------------STATIC-----------------------
$box-width:42px; //768/18 (18 is grid col)
$box-height:55px; //768/11 (11 is rows)
$box-radius:4px;
$box-min-width-xs:36px;
$box-max-width-xs:45px;
$box-min-height-xs:65px;
$box-min-width-sm:46px;
$box-max-width-sm:48px;
$box-min-height-sm:70px;
$box-min-width-md:52px;
$box-max-width-md:57px;
$box-min-height-md:75px;
$box-min-width-lg:65px;
$box-max-width-lg:70px;
$box-min-height-lg:80px;
$box-min-width-xl:77px;
$box-max-width-xl:87px;
$box-min-height-xl:92px;

//-----------------SCREENS------------------
$screen-xs:768px;
$screen-sm:910px;
$screen-md:1028px;
$screen-lg:1290px;
$screen-xl:1600px;


//---------------GRID-----------------------
$row-width: rem-calc(1000);
$column-gutter: rem-calc(2);
$total-columns: 18 ;
