/*
Syntax error: Invalid CSS after "...eight, $ltpink:": expected mixin argument, was ", $ltblue);"
        on line 79 of /Users/jrcitrak/Desktop/FBPTAPP/flexbox-periodic-table-app/_/components/sass/_molecules.scss
        from line 14 of /Users/jrcitrak/Desktop/FBPTAPP/flexbox-periodic-table-app/_/components/sass/styles.scss

Backtrace:
/Users/jrcitrak/Desktop/FBPTAPP/flexbox-periodic-table-app/_/components/sass/_molecules.scss:79
/Users/jrcitrak/Desktop/FBPTAPP/flexbox-periodic-table-app/_/components/sass/styles.scss:14
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1312:in `expected'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/script/lexer.rb:216:in `expected!'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/script/parser.rb:571:in `assert_expr'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/script/parser.rb:458:in `block in arglist'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/script/parser.rb:453:in `loop'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/script/parser.rb:453:in `arglist'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/script/parser.rb:442:in `mixin_arglist'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/script/parser.rb:94:in `parse_mixin_include_arglist'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1175:in `sass_script'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:238:in `include_directive'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:221:in `special_directive'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:193:in `directive'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:660:in `block_child'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:649:in `block_contents'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:641:in `block'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:659:in `block_child'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:41:in `parse'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/engine.rb:409:in `_to_tree'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/engine.rb:305:in `to_tree'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:88:in `block in with_import'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:88:in `with_import'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:79:in `block in with_base'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:121:in `with_frame'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/stack.rb:79:in `with_base'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/commands/update_project.rb:49:in `perform'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/commands/base.rb:18:in `execute'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/bin/compass:30:in `block in <top (required)>'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/bin/compass:44:in `call'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/gems/compass-1.0.0.alpha.19/bin/compass:44:in `<top (required)>'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/bin/compass:23:in `load'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/bin/compass:23:in `<main>'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/jrcitrak/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...eight, $ltpink:\": expected mixin argument, was \", $ltblue);\"\A         on line 79 of /Users/jrcitrak/Desktop/FBPTAPP/flexbox-periodic-table-app/_/components/sass/_molecules.scss\A         from line 14 of /Users/jrcitrak/Desktop/FBPTAPP/flexbox-periodic-table-app/_/components/sass/styles.scss"; }
